@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

@font-face {
    font-family: 'MyFont';
    src: url('/Helvetica-Neue-LT-Com-63-Medium-Extended.woff2') format('WOFF2');
}

@font-face {
    font-family: 'MyFontBd';
    src: url('/HelveticaNeueLTPro-HvEx.woff2') format('WOFF2');
}

:root{
    --padding: 25px;
    --gap: 10px;
    --mid-gap: 25px;
    --input-color: rgb(250, 250, 250);
    --radius: 40px;
    --radius-circle: 50%;
    --primary-color: #fd7600;
    --feint: rgb(60, 60, 60);
    --primary-feint: rgb(255, 243, 233);
    --placeholder-color: rgb(180, 180, 180);
    --font-family: 'Poller One', cursive;
    --banner-height: 50vh;
    --bottom-curve: 160px;
}

.ill-svg{
    transition: 0.1s;
    width: 100% !important;
}

.ill-svg:hover{
    transform: scale(1.1);
}

.ill-svg-img{
    transition: 0.1s;
}

.ill-svg-img:hover{
    transform: scale(1.1);
    position: relative;
    z-index: 200;
}

.ill-svg-cust{
    transition: 0.1s;
    width: 260px !important;
}

.ill-svg-cust:hover{
    transform: scale(1.1);
}

.float-center{
    position: fixed;
    top: 131px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-design{
    text-align: center;
}

.margin-ini{
    display: inline-block;
    width: auto;
    background-color: var(--input-color);
    margin-left: -25px;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    padding: var(--padding);
}

.margin-ini-exp{
    display: inline-block;
    width: auto;
    background-color: var(--primary-color);
    margin-left: -25px;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    padding: var(--padding);
}

.margin-ini-exp *{
    color: white;
}

.menu-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
}

.mid-gap{
    gap: var(--mid-gap) !important;
}

.account-detect{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: var(--padding);
}

body{
    margin: 0;
    animation: visible 0.4s;
    padding: 0;
}

.body-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.body-flex-normal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


*{
    font-family: 'MyFont';
    font-size: 12px;
    color: var(--feint);
}

.container{
    padding: var(--padding);
    box-sizing: border-box;
}

.icon-logo{
    color: var(--feint) !important;
}


.dark{
    /*font-family: 'MyFontBd';*/
}

.status{
    width: auto;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-circle);
    background-color: var(--feint);
    transition: 0.1s;
}

.status:hover{
    transform: scale(1.1);
}

.status *{
    color: white;
}

.auto-width-flex{
    display: inline-flex;
    width: auto;
}

.circle-badge{
    width: auto;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-circle);
    background-color: var(--feint);
    transition: 0.1s;
}

.button-style-auto-wdith{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    width: auto;
}

.circle-badge *{
    color: white;
}

.loader-anim{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: var(--radius-circle);
    border-top: 4px solid rgb(8, 8, 8);
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.doc-left{
    margin-left: -25px;
    height: 65px;
    padding-right: var(--padding);
    padding-left: var(--padding);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    background-color: var(--input-color);
    width: auto;
}

.doc-right{
    margin-right: -25px;
    height: 65px;
    padding-right: var(--padding);
    padding-left: var(--padding);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 160px;
    border-bottom-left-radius: 160px;
    background-color: var(--input-color);
    width: auto;
}

.add-doc{
    height: 65px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    background-color: var(--feint);
    border-radius: var(--radius);
}

.add-doc *{
    color: white;
}

.container-not-top{
    padding: var(--padding);
    padding-top: 0;
}

.float-bottom{
    position: fixed;
    bottom: 117px;
    right: var(--padding);
    left: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.float-bottom *{
    color: white;
}

.android-top{
    padding-top: 40px;
}

::placeholder{
    color: var(--placeholder-color) !important;
}

.animation{
    animation: visible 0.4s;
}

.header{
    padding: var(--padding);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white !important;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-home *{
    color: white;
}

.header-normal{
    padding: var(--padding);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white !important;
    z-index: 10;
    /*border-bottom: 1px solid var(--input-color);*/
}

.w-auto{
    width: auto !important;
}

.view-bottom{
    padding-bottom: 110px;
}

.or-breaker-item{
    width: 100%;
    height: 1px;
    background-color: var(--input-color);
}

.overflow{
    overflow: auto;
}

.google-logo{
    width: 30px;
}

.gender{
    background-color: var(--input-color);
    padding: var(--padding);
    border-radius: 200px;
    width: 80px;
    height: 80px;
    position: relative;
}

.gender-display{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search{
    border-bottom: 1px solid var(--input-color);
    padding-right: var(--padding);
}

.search input{
    border: none !important;
}

.button-icon-space{
    background-color: var(--feint);
    padding: 0 25px;
    height: 65px;
    border: none;
    color: white;
    gap: var(--gap);
    white-space: nowrap;
    cursor: pointer;
    border-radius: var(--radius);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.button-icon-space *{
    color: white;
}


.button-style-white{
    background-color: white;
    padding: 0 25px;
    height: 65px;
    border: none;
    color: white;
    gap: var(--gap);
    white-space: nowrap;
    cursor: pointer;
    border-radius: var(--radius);
    color: white;
    gap: var(--gap);
}

.button-style-white *{
    color: var(--feint);
}

.button-style-gray{
    background-color: var(--input-color);
    padding: 0 25px;
    height: 65px;
    border: none;
    color: white;
    gap: var(--gap);
    white-space: nowrap;
    cursor: pointer;
    border-radius: var(--radius);
    color: white;
    gap: var(--gap);
}

.opacity{
    opacity: 0.9;
}

.float-right{
    float: right;
}

.merital{
    animation: visible 0.4s;

}

.spouse-float{
    background-color: var(--primary-color); 
    display: flex;
    align-items: center;
    padding: 0 var(--padding);
    height: 65px;
    border-radius: var(--radius);
}

.spouse-float *{
    color: white;
}

.side-message{
    color: var(--placeholder-color);
}

.debt-apply{
    position: absolute;
    padding: 20px;
    border-radius: var(--radius-circle);
    color: white;
    background-color: black;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.touch-opacity:hover{
    opacity: 0.6 !important;
}

.h-100{
    height: 100%;
}

.icon-shadow{
    padding: 25px;
    border-radius: var(--radius-circle);
}

.dot-1{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: var(--radius-circle);
}

.dot-2{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: var(--radius-circle);
    right: -20px;
    top: 300px;
}

.dot-3{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: var(--radius-circle);
    right: 0;
    bottom: 150px;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.edge-fit{
    margin: 0 -25px;
    padding: var(--padding);
}

.edit-plan{
    position: absolute;
    top: -15px;
    right: 0;
    background-color: var(--input-color);
    padding: 10px;
    border-radius: var(--radius-circle);
}

.empty-account{
    font-size: 140px !important;
    margin-left: -5px;
}

.empty-account-mid{
    font-size: 140px !important;
    margin-bottom: 15px;
}

.input-contain{
    display: flex;
    align-items: center;
    background-color: var(--input-color);
    border-radius: var(--radius);
    gap: var(--gap);
}

.input-contain select{
    display: inline-block;
    width: auto;
}

.zoom{
    transition: .1s;
}

.zoom:hover{
    transform: scale(1.1);
}

.icon-binder{
    background-color: var(--input-color);
    padding: 10px;
    border-radius: var(--radius-circle);
}

.shadow{
}

.shadow-tailwind{
}

.icon-big{
    font-size: 140px !important;
}

.icon-mid{
    font-size: 100px !important;
}

.icon-small{
    font-size: 40px !important;
}

.icon-exp-small{
    font-size: 24px !important;
}

.icon-exp-mid{
    font-size: 48px !important;
}

.icon-exp-big{
    font-size: 144px !important;
}

.icon-profile{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
}

input:not(input[type=range]), select{
    box-sizing: border-box;
    padding: 25px;
    border: none;
    width: 100%;
    background-color: var(--input-color);
    border-radius: var(--radius);
}

select{
    -webkit-appearance: none;
}

.development{
    text-align: center;
    padding: var(--padding);
    padding-top: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.logo-svg{
    width: 150px;
    transition: 0.1s;
    animation: visible 0.4s;
}

.logo-svg:hover{
    transform: scale(1.1);
}

.action-icon{
    padding: 20.5px;
    border-radius: var(--radius-circle);
    color: white;
    background-color: var(--feint);
    margin-bottom: 8px;
}

.action-icon-normal{
    padding: 20.5px;
    border-radius: var(--radius-circle);
    color: white;
    background-color: var(--feint);
    margin-bottom: 8px;
}

.action-icon-normal-silver{
    padding: 20.5px;
    border-radius: var(--radius-circle);
    background-color: var(--input-color);
    margin-bottom: 8px;
}

.action-icon-primary{
    padding: 20.5px;
    border-radius: var(--radius-circle);
    color: white;
    background-color: var(--feint);
    margin-bottom: 8px;
}


.action-icon-opacity{
    padding: 20.5px;
    border-radius: var(--radius-circle);
    color: white;
    background-color: var(--feint);
    opacity: 0.9;
    margin-bottom: 8px;
}

.action-icon-margin{
    padding: 20px;
    border-radius: var(--radius-circle);
    color: white;
    background-color: var(--feint);
    margin-bottom: 15px;
}

.error-message{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: white;
    overflow: auto;
}

.signout{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
}

.development-padding{
    padding-top: 40px;
}

.logo{
    width: 150px;
}

.my-font-align{
    padding-top: 4px;
}

.header-title{
    padding-top: 5px;
}

.menu{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 0;
    transition: 0.1s;
    background-color: white;
    z-index: 99999999;
}

.greeting{
    background-color: white;
    padding: 0 var(--padding);
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    opacity: 0.9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    width: auto;
    height: 65px;
}

.top-patcher{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 99999;
}

input:focus, select:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 35px var(--input-color) inset !important;
}

.w-100{
    width: 100% !important;
}

.kanit{
    /*font-family: 'Kanit', sans-serif;*/
    font-size: 14px;
}

.white{
    color: white;
}

.white *{
    color: white;
}

.no-gap{
    gap: 0 !important;
}

img{
    object-fit: cover;
}

.nowrap{
    white-space: nowrap;
}

.slogan{
    font-family: 'Poller One', cursive; 
    font-size: 25px;
}

.progress-indicator{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.progress-done{
    border: 2px solid var(--primary-color);
    width: 100%;
    border-radius: var(--radius);
}

.mid-icon{
    padding: 20.5px;
    background-color: var(--feint);
    border-radius: var(--radius-circle);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.progress-pending{
    border: 2px solid var(--input-color);
    width: 100%;
    border-radius: var(--radius);
}


.profile{
    padding: var(--padding);
    background-color: var(--input-color);
    border-radius: var(--radius);
}

.bold{
    /*font-family: var(--font-family);*/
}

.slogan-small-color{
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--feint) !important;
}

.float-top-left{
    position: fixed;
    right: var(--padding);
    top: var(--padding);
}

.slogan-primary-color{
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--feint) !important;
}

.primary-color{
    color: var(--primary-color) !important;
}

.primary-color *{
    color: var(--primary-color) !important;
}

.primary-color-exp{
    color: var(--feint) !important;
}

.kanit-mid{
    /*font-family: 'Kanit', sans-serif;*/
    font-size: 25px;
}

.underline{
    border-bottom: 2px solid var(--feint);
}

.underline-white{
    border-bottom: 2px solid white;
}

.kanit-big{
    /*font-family: 'Kanit', sans-serif;*/
    font-size: 80px;
}

.breaker{
    padding-top: 25px;
}

.title{
    font-size: 28px;
}

.title-small{
    font-size: 15px;
}

.profile-pic-smallest{
    transition: transform .1s;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    border-radius: var(--radius-circle);
}

.profile-pic-border-top{
    border-top: 2px solid var(--feint);
}

.profile-pic-border-right{
    border-right: 2px solid var(--feint);
}

.profile-pic-border-bottom{
    border-bottom: 2px solid var(--feint);
}

.profile-pic-border-left{
    border-left: 2px solid var(--feint);
}

.border-top-color{
    border-top: 2px solid var(--feint);
}

.border-right-color{
    border-right: 2px solid var(--feint);
}

.border-bottom-color{
    border-bottom: 2px solid var(--feint);
}

.border-left-color{
    border-left: 2px solid var(--feint);
}

.border-top-color-feint{
    border-top: 2px solid var(--feint);
}

.border-right-color-feint{
    border-right: 2px solid var(--feint);
}

.border-bottom-color-feint{
    border-bottom: 2px solid var(--feint);
}

.border-left-color-feint{
    border-left: 2px solid var(--feint);
}
.profile-pic-small{
    transition: transform .1s;
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
    border-radius: var(--radius-circle);

}

.logo-back{
    position: absolute;
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-img{
    position: absolute;
    width: 250px;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-transition{
    position: relative;
    transition: 0.1s;
}

.logo-transition:hover{
    transform: scale(1.1);
}

.profile-pic-small:hover {
    transform: scale(1.1);
}

.profile-pic-mid{
    transition: transform .2s;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    border-radius: var(--radius-circle);
}

.profile-pic-mid:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3);
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: var(--radius-circle);
}

.vert-seperator{
    min-width: 1px;
    background-color: var(--input-color);
}

.position-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.h-100{
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.blur{
    background-color: transparent;
    filter: blur(100px);
}

.primal-background{
    background-color: rgb(255, 123, 0);
}

.family{
    display: flex;
    overflow: auto;
    gap: var(--mid-gap);
    margin: 0 -25px;
    padding: 0 var(--padding);
    padding-bottom: 0;
}

.black{
    color: black !important;
}

.primal-background *{
    color: white;
}

.display-flex{
    display: flex;
    gap: var(--gap);
}

.display-flex-align{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.display-flex-space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.display-flex-space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
}

.display-flex-space-evenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: var(--gap);
}

.display-flex-end{
    display: flex;
    justify-content: flex-end;
    gap: var(--gap);
}

.number-mid{
    font-size: 20px;
    font-family: 'MyFontBd';
}

.home-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("https://images.pexels.com/photos/10014803/pexels-photo-10014803.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
}

.income{
 
}

.header-home{
    padding: 0 var(--padding);
    height: 92px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 92px;
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--padding);
    padding-top: var(--padding);
}

.installment{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: var(--radius-circle);
    opacity: 0.9;
    background-color: var(--feint);
}

.installment-tag{
    position: absolute;
    top: var(--padding);
    right: var(--padding);
    background-color: var(--primary-color);
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
}

.installment-tag *{
    color: white;
}

.installment-status{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    border-radius: var(--radius-circle);
    background-color: var(--input-color);
}

.find-branch{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background-color: var(--input-color);
    padding: 0 var(--padding);
}

.bottom-nav-home{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 var(--padding);
    height: 92px;
}

.bottom-nav-home *{
    color: white;
}

.margin-ini-feint{
    display: inline-block;
    width: auto;
    background-color: var(--feint);
    margin-left: -25px;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    padding: var(--padding);
}

.margin-ini-feint *{
    color: white;
}

/*.docs{
    margin: 0 -25px;
    background-color: var(--input-color);
    padding: var(--padding);
    border-radius: var(--radius);
}*/

.installment *{
    color: white;
}

.number-big{
    font-size: 25px;
    font-family: 'MyFontBd';
}

.view-all-statuses{
    position: absolute;
    top: 95px;
    right: var(--padding);
}

.display-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.display-flex-center-column{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--gap);
}

.display-none{
    display: none;
}

.display-inline{
    display: inline;
    width: auto;
}

.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align: left;
}

.text-align-right{
    text-align: right;
}

.padding{
    padding: var(--padding);
}

.padding-not-bottom{
    padding: var(--padding);
    padding-bottom: 0;
}

.back-img{
    background-image: url("https://i0.wp.com/thisladyblogs.com/wp-content/uploads/2017/10/How-to-Solve-Working-Couple-Problems.jpg?ssl=1");
    background-size: cover;
    background-position: center;
}


.back-img *{
    color: white;
}

.curved{
    position: relative;
    z-index: 100;
    background-color: white;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.top-banner-welcome{
    background-image: url("https://florinroebig.com/wp-content/uploads/2020/01/personal-injury-attorneys-1170x670.jpg");
    background-size: cover;
    background-position: center;
    height: var(--banner-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-banner-sign-in{
    background-image: url("https://www.thebankofcanton.com/wp-content/uploads/Featured-Mobile-Banking-Mobile-Deposit-512x430.jpg");
    background-size: cover;
    background-position: center;
    height: var(--banner-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-banner-sign-up{
    background-image: url("https://images.ctfassets.net/csd0v5p1fzif/4lP3W3a3FuROwQtLnQd4m4/6303f1e5b38f911adfe113ad5775deaf/how-to-become-debt-free-4.jpeg");
    background-size: cover;
    background-position: center;
    height: var(--banner-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-filter{
    padding: var(--padding);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: brightness(20%);
}

.to-focus{
    padding-bottom: 23px;
    border-bottom: 2px solid white;
}

.focused{
    border-bottom: 2px solid var(--feint) !important;
    border-radius: var(--radius);
}

a{
    color: var(--feint);
    text-decoration: none;
}

.account-design *{
    color: white !important;
}

.focused-nav{
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid var(--primary-color);
    top: -26px;
    width: 100%;
    transition: 0.1s;
    border-radius: var(--radius);
}

.to-focus:hover{
    border-bottom: 2px solid black;
}

.margin{
    margin: var(--padding);
}

.margin-out{
    margin: -25px;
    margin-bottom: 0;
    margin-top: -40px;
}

.radius{
    border-radius: var(--radius);
}

.relative{
    position: relative;
}

.bottom-nav{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--input-color);
    padding: 0 var(--padding);
    height: 92px;
}

.apply-icon{
    background-color: var(--feint);
}

.debt{
    padding: var(--padding);
    background-color: var(--input-color);
    border-radius: 200px;
    position: relative;
}

.debt-progress{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--feint);
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
}

.debt-progress *{
    color: white;
}

.tag-bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--feint);
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    animation: visible 0.4s;
}

.tag-bottom-right *{
    color: white;
}

.tag-top-right{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--feint);
    padding: 12.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    animation: visible 0.4s;
}

.tag-top-right *{
    color: white;
}

.tag-normal{
    background-color: var(--feint);
    padding: 12.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    width: auto;
    animation: visible 0.4s;
}

.tag-normal *{
    color: white;
}

.div-ini{
    padding: var(--padding);
    background-color: var(--input-color);
    border-radius: 200px;
}

.div-ini-normal{
    padding: 0 var(--padding);
    height: 65px;
    background-color: var(--input-color);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
}

.nav-middle-icon{
    font-size: 48px !important;
}

.div-ini-normal-not-right{
    padding: 0 var(--padding);
    height: 65px;
    background-color: var(--input-color);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loader-binder{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999999999;
    opacity: 0.9;
    animation: visible 0.4s;
}

.loader-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--padding);
}

.spouse-switch{
    background-color: var(--feint);
    border-radius: var(--radius);
    height: 65px;
}

.loader {
    width: 65px;
    height: 65px;
    border: 2px solid var(--input-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.4s linear infinite;
    transition: 0.1s;
    border-bottom-color: var(--feint);
  }

  @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: var(--input-color);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    cursor: pointer;
    border-radius: var(--radius-circle);
    border: 10px solid var(--feint);
}

.incomes{
    height: 65px;
    padding: 0 var(--padding);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    background-color: var(--input-color);
}

hr{
    border: none;
    border-bottom: 1px solid var(--input-color);
}


.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.applied{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}

.popup-binder{
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 300;
    display: none;
    opacity: 0.9;*/
}

.popup{
    display: none;
    position: fixed;
    z-index: 500;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding);
    animation: visible 0.4s;
    overflow: auto;
    background-color: white !important;
}

.design-container{
    padding: var(--padding);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

.design-slogan{
    font-family: 'Poller One', cursive;
    font-size: 100px;
}

.design-slogan-primary-color{
    font-family: 'Poller One', cursive;
    font-size: 100px;
    color: var(--feint);
}

.poller-one{
    font-family: 'Poller One', cursive;
}

.logo-background{
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    background-color: var(--feint);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(20deg);
}

.logo-background-mobile-binder{
    transition: 0.1s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-background-mobile{
    min-width: 500px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    background-color: var(--feint);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.3) rotate(20deg);
    transition: 0.1s;
    opacity: 0.9;
}

.logo-background-mobile-binder:hover{
    transform: scale(1.1);
}

/* .logo-orange-line{
    border: 10px solid var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 10px;
    border-radius: 50%;
}

.logo-white-line{
    border: 10px solid white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 30px;
    border-radius: 50%;
} */

.bottom-mountain{
    width: 100%;
}

.bottom-mountain-menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.logo-left-symbol{
    background-color: white;
    height: 250px;
    width: 90px;
    position: relative;
    border-bottom-left-radius: 80px;
    right: -15px;
    top: 25px;
}

.logo-left-symbol-top-ball{
    position: absolute;
    background-color: var(--feint);
    top: -1px;
    left: -1px;
    height: 30px;
    width: 31px;
    border-bottom-right-radius: 40px;
}

.logo-left-symbol-left-bar-container{
    background-color: white;
    height: 100px;
    top: 50px;
    width: 46px;
    position: absolute;
    left: -45px;
    border-top-left-radius: 80px;
}

.logo-left-symbol-left-bar{
    background-color: var(--feint);
    height: 100px;
    top: 80px;
    width: 46px;
    position: absolute;
    left: -46px;
    border-top-left-radius: 80px;
}

.logo-left-symbol-right-bar{
    position: absolute;
    top: -1px;
    right: 0px;
    bottom: 0;
    background-color: var(--feint);
    width: 60px;
    border-bottom-left-radius: 80px;
}

.logo-t-symbol{
    background-color: var(--primary-color);
    height: 250px;
    width: 60px;
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    right: 15px;
}

.logo-t-symbol-top-ball{
    position: absolute;
    background-color: var(--feint);
    top: -1px;
    left: -1px;
    height: 30px;
    width: 31px;
    border-bottom-right-radius: 40px;
}

.logo-t-symbol-bottom-ball{
    position: absolute;
    background-color: var(--primary-color);
    bottom: 0px;
    left: 0px;
    height: 35px;
    width: 60px;
    z-index: 200;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo-t-symbol-left-bar{
    position: absolute;
    background-color: var(--primary-color);
    top: 50px;
    left: -30px;
    height: 60px;
    width: 31px;
}

.logo-t-symbol-left-bar-top-ball{
    position: absolute;
    background-color: var(--feint);
    top: 49px;
    left: -30px;
    height: 30px;
    width: 30px;
    border-bottom-right-radius: 40px;
}

.logo-t-symbol-right-bar{
    position: absolute;
    top: -10px;
    right: 0px;
    bottom: 20px;
    background-color: var(--feint);
    width: 31px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 250;
}

.logo-right-symbol{
    position: absolute;
    top: -40px;
    right: -30px;
    bottom: -45px;
    background-color: white;
    width: 60px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 80px;
}


.logo-right-symbol-bottom-curve{
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 15px;
    height: 97px;
    background-color: var(--feint);
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
